body {
    background: lavender;
}
.container {
    margin-top: 150px;
    text-align: center;
    background: linear-gradient( 0deg, #ffa6a6, green 40%, #ffa6a6 );
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}