
/* line 15, ../sass/screen.scss */
body {
    background: #ffd5d5;
    background-size: .12em 100%;
    font-family: "Montserrat";
    font-size: 13em;
}
/* line 21, ../sass/screen.scss */
.text--line {
  font-size: .5em;
}
/* line 25, ../sass/screen.scss */
div#container {
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 32, ../sass/screen.scss */
.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 7s infinite ease-in;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(1) {
  stroke: #29506d;
  stroke-dashoffset: 7%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(2) {
  stroke: #718ea4;
  stroke-dashoffset: 14%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(3) {
  stroke: #496d89;
  stroke-dashoffset: 21%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(4) {
  stroke: #123652;
  stroke-dashoffset: 28%;
}
/* line 43, ../sass/screen.scss */
.text-copy:nth-child(5) {
  stroke: #042037;
  stroke-dashoffset: 35%;
}
@keyframes stroke-offset {
  /* line 51, ../sass/screen.scss */
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
/* line 57, ../sass/screen.scss */
.fa {
  display: block;
  font-size: 36px;
  text-align: center;
  color: white;
}
/* line 64, ../sass/screen.scss */
a.w3-xxxlarge {
  text-decoration: none !important;
  position: absolute;
  font-size: 1em;
}
  