.text {
    font-family: "Anton";
    font-size: 100px;
    -webkit-text-stroke: 1px black;
    color: white;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flux-bg 5s infinite;
}

.container{
	margin-top: 80px;
}
body{
  background: #E2FCEF;
}
@keyframes flux-bg {
  0%   {  
  	background: -webkit-linear-gradient(#ffffff, #fff, #fff); 
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    20% { 
   background: -webkit-linear-gradient(#fff, #fff, #00BCD4); 
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

    40% { 
   background: -webkit-linear-gradient(#ffffff, #00BCD4, #3b0cf9); 
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    60% { 
   background: -webkit-linear-gradient(#00BCD4, #3b0cf9, #ffffff); 
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    80% { 
   background: -webkit-linear-gradient(#3b0cf9, #ffffff, #ffffff ); 
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
    100% { 
   background: -webkit-linear-gradient(#00BCD4, #ffffff, #ffffff); 
       -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}