body {
  background: radial-gradient( red, yellow, green); /* Standard syntax */
}
.container {
    margin-top: 250px;
    text-align: center;
    background: linear-gradient( 0deg, #ffa6a6, green 40%, #ffa6a6 );
}
.path {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 2000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

svg {
    position: absolute;
    top: 150px;
    left: 350px;
}