@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);

body { background: #000; color: #fff; position: relative;}

.future-cop {
  position: relative;
  margin-top: 500px;
}

.future {
  position: absolute;
  left: 0;
  top: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 200px;
  margin-top: 160px;
  margin-bottom: 0;
  color: #EB219B;
  -webkit-text-fill-color: rgba(253, 90, 250, 1);
  text-shadow: -2px -2px 0 #FFBAF2;
  -webkit-filter: drop-shadow(3px 3px 1px #441F62);
  -webkit-transform: skew(-5deg,-5deg);
  font-weight: normal;
  z-index: 2;
  margin-left: 60px;
  padding-left: 50px;
  padding-right: 70px;
}